@include font-face('Gotham',$gotham-font-path);
@include font-face('AbrahamLincoln',$abraham-font-path);
@include font-face('Poppins',$poppins-font-path);
@include font-face('Georgia', $georgia-font-path);
@include font-face ('Robobto', $roboto-font-path);

  // html {
  //   height: 100%;
  // }

body {
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #FFF;
	padding-bottom: 432px;
	overflow-x: hidden;

	@include r(1268){
		min-width: 1268px; 
		overflow-x: scroll;
		padding-bottom: 0;
	}
}



