$orange: #FFA800;
$white: #FFF;
$black: #000;
$gray_hr: #e6e6e6;
$violet: rgb(105, 79, 202);
$top-banner_introduction-title-color: $orange;
$invite_bg: $violet;
$clients_back-header-color: #b0b0b1;
$invite_number-color: $orange;
$invite_slider-title: $orange;

$review-block-shadows: 0px 20px 20px 5px #888888;

$top-banner_background-url: '../img/top-banner-bg.png';
$main-content_background-url: '../img/background.png';

$wrapper_width:1920;
$base-size: 16px;
$base-size-pt: 12pt;
$abrahead-size:100px;

$abraham: 'AbrahamLincoln', 'Helvetica', 'Arial', sans-serif;
$gotham: 'Gotham', 'Helvetica', 'Arial', sans-serif;
$poppins: 'Poppins', 'Helvetica', 'Arial', sans-serif;
$georgia: 'Georgia', 'Helvetica', 'Arial', sans-serif;
$roboto:  'Roboto', sans-serif;
$myriad: 'MyriadProRegular', 'Helvetica', 'Arial', sans-serif;

$abraham-font-path: '../fonts/AbrahamLincoln/AbrahamLincoln';
$gotham-font-path: '../fonts/Gotham Cyrillic/GothaProBol';
$poppins-font-path: '../fonts/Poppins/Poppins';
$georgia-font-path: '../fonts/Georgia/Georgia';
$roboto-font-path: 'https://fonts.googleapis.com/css?family=Roboto';
$myriad: '../fonts/MyriadProRegular/MyriadProRegular';
