<footer class="footer">
	<!-- BEGIN footer_top-line -->
	<div class="footer_top-line">
		<a href="#" class="footer_contact"><img src="img/call.png" class='footer_contact-img' alt="error"><span class='footer_contact-number'>Call Now: 0800 456 789</span></a>
			<!-- START logo -->
		<div class="logo footer_logo">
			<a class="logo_text" href="#">UNITY</a>
		</div>
		<!-- END logo -->
		<a href="#" class="footer_mail"><img src="img/mail.png" alt="" class="footer_mail-img">Mail: <span class="footer_mail-text">info@unity.com</span></a>

	</div>
	<!-- END footer_top-line -->

	<!-- BEGIN footer_main-content -->
	<div class="footer_main-content">

		<!-- BEGIN footer_about-us -->
		<div class="about-us">
			<h3 class="about-us_title">about us</h3>
			<img class= 'about-us-img' src="img/about-us.png" alt="">
			<p class='about-us_description'>loremLorem Ipsum is simply dummy text of the printing and typesettin Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, neque.
			Lorem ipsum dolor sit</p> 
			<ul class='about-us_list'>
				<li class='about-us_list-item'><img src="img/facebook.png" class='about-us_list-img' alt=""></li>
				<li class='about-us_list-item'><img src="img/instagram.png" class='about-us_list-img' alt=""></li>
				<li class='about-us_list-item'><img src="img/linked-in.png" class='about-us_list-img' alt=""></li>
				<li class='about-us_list-item'><img src="img/goggle+.png" class='about-us_list-img' alt=""></li>
				<li class='about-us_list-item'><img src="img/twitter.png" class='about-us_list-img' alt=""></li>
				<li class='about-us_list-item'><img src="img/dribble.png" class='about-us_list-img' alt=""></li>
			</ul>
		</div>
		<!-- END footer_about-us -->
		<!-- BEGIN newsletter -->
		<div class="newsLetter">
			<h3 class="newsLetter_title">newsletter</h3>
			<p class="newsLetter_text">Signup for our weekly newsletter and get the latest updates</p>
			<form action="" method = 'post' class = "newsLetter_form"><input type = "email" id = 'newsLetter_form-email' name = 'newsLetter_form-email' placeholder='Enter your Email'><input type = "submit" id = "newsLetter_form-submit" value = "Subscribe"></form>
		</div>
		<!-- END newsletter -->

		<!-- BEGIN blog -->
		<div class="blog">
			<h3 class="blog_title">From blog</h3>
			<ul class="blog_list">
				<li class="blog_item">
					<img class='blog_item-img' src="img/blog-photo1.png" alt="">
					<div class="blog_comment">
					<p class="blog_comment-text">> Needed a redesign of their site</p>
					<span class="blog_comment-date">Dec 25th 2011 </span></div>
				</li>
				<li class="blog_item">
					<img class='blog_item-img' src="img/blog-photo2.png" alt="">
					<div class="blog_comment">
					<p class="blog_comment-text">> Maximise conversions and le</p>
					<span class="blog_comment-date">Dec 25th 2011 </span></div>
				</li>
				<li class="blog_item">
					<img class='blog_item-img' src="img/blog-photo3.png" alt="">
					<div class="blog_comment">
					<p class="blog_comment-text">> Arts For India’s mission is  underprivileg</p>
					<span class="blog_comment-date">Dec 25th 2011 </span></div>
				</li>
			</ul>
		</div>
		<!-- END blog -->
	</div>
	<!-- END footer_main-content -->
	</footer>