
<header class="header">
	<div class="logo">
		<a class="logo_text" href="#">UNITY</a>
	</div>
	<!-- BEGIN nav -->
	 <nav class="header_nav">
		 <ul class="header_nav_list">
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">HOME</a></li>
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">ABOUT US</a></li>
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">SERVICES</a></li>
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">PORTFOLIO</a></li>
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">BLOG</a></li>
			 <li class="header_nav_list-item"><a class="header_nav_list-href" href="#">SHOP</a></li>
		 </ul>
	 </nav>
	<!-- END nav -->
</header>

